body{
    background-image: url('https://m-cdn.phonearena.com/images/article/143515-wide-two_1200/Apple-tests-adding-news-to-the-native-Weather-app-in-iOS-16.2-Beta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#input{
    width: 25%;
    height: 2rem;
    border-radius: 10px;
    color:rgb(29, 26, 26);
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    border: none;
   
    
}

#search{
    min-width: 5%;
    height: 3rem;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #6475ad;
    color: rgb(216, 212, 212);
    font-size: 15px;
    padding: 5px;
    border: none;
}
#output{
    font-family: "Pacifico", cursive;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  background-color: rgb(208, 214, 219);
    margin-left: 600px;
    border-radius: 10px;
    opacity: 0.7;
    
}
h2{
    margin-left: -30px;
}

